body {
  height: 100vh;
  width: 100vw;
  display: grid;
  background-color: black;
  grid-template-columns: 70% auto;
  grid-template-rows: 10% 50% auto;
  grid-template-areas:
    "head head"
    "bomb panel-2"
    "panel-1 panel-2";
  grid-gap: 1%;
}
h1{
  color: red
}
#bomb{
  background-image: url("../Assets/metallic.jpg");
  background-size: contain;
  border-radius: 10%
}
#panel-1{
  background-image: url("../Assets/metallic.jpg");
  background-size: contain;
  border-radius: 10%;
  /* background-repeat: no-repeat; */
  display: grid;
  grid-template-areas: 
  "timeinput start stop"
  "timeinput . .";
  grid-template-rows: 50% 50%;
  grid-template-columns:40% 30% 30%;

}
#timer-input{
  grid-area: timeinput;
}
#start{
  grid-area: start;
}
#stop{
  grid-area: stop;
}
#panel-1>img {
  height:50%;
  width: 50%;
}
#bomb>.wires-right>img{
  height: 10%;
  width: 108%;
  position: relative;
  left: -12%;
}
#bomb>.wires-left>img{
  height: 10%;
  width: 108%;
  position: relative;
  right: -12%;
}
head {
  grid-area: head;
  background-color: cyan;
}

#bomb {
  grid-area: bomb;
  display: grid;
  grid-template-areas:
    "wires-left bomb-frame wires-right";
  background-color: silver;
  grid-template-columns: 20% auto 20%;
}

#bomb-frame {
  background-image: url("../Assets/bombwireless.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50%;
  position: relative;
  /* background-color: crimson; */
}

#bomb-frame>#timer {
  position: absolute;
  top: 39%;
  left: 31%;
  width: 33%;
  font-size: 175%;
  color: red;
  text-align: center;
}

.wires-right {
  grid-area: wires-right;
}

.wires-left {
  grid-area: wires-left;
}

#panel-1 {
  grid-area: panel-1;
  background-color: blueviolet
}

#panel-2 {
  grid-area: panel-2;
  background-color: silver;
}
#time-input{
  width: 10%;
}
@media(max-width:250px){
  #bomb-frame>#timer{
    font-size: 75%
  }
}
@media(max-width:500px){
  #bomb-frame>#timer{
    font-size: 100%
  }
}
@media(min-width:1000px){
  #bomb-frame>#timer{
    font-size: 250%
  }
}
@media(min-width:1500px){
  #bomb-frame>#timer{
    font-size: 350%
  }
}